!!!
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools-yui-compressed.js")
	script(type="text/javascript", src="javascripts/script.js")
	
	body!= body