!!!
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src="/socket.io/socket.io.js")
	script(type="text/javascript", src="javascripts/mootools-core-uncompressed.js")
	script(type="text/javascript", src="javascripts/script.js")
	
	body!= body